<!doctype html>
{% block html_tag %}
<html lang="{{ _lang|default('en') }}">
{% endblock %}
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{{ _title|default('Kreator') }}</title>
    {% endblock %}
</head>

<body id="{{ _id|default('hello-friend') }}">
    {% block body %}{% endblock %}
</body>

</html>
