<!doctype html>
{% block html_tag %}
<html lang="en">
{% endblock %}
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Kreator</title>
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>
